

<div class="left-navigation-container">
    <header id="nav-header">
        <div id="branding">
            <!-- <img id="logo-placeholder" src="<%= assetPath('img/logo1.png') %>"> -->
                <p id="name-placeholder"><i class="fa-solid fa-cloud"></i> <span class="s">S</span>anam.<span>Social</span></p>
        </div>
    </header>

    <% if (locals.user) { %>
        <div id="nav-section">
            <!-- <div id="user-name">
                <a href="/users/profile"> <%= user.name %> </li>
            </div> -->
            <!-- <div id="sign-in-button">
                <a href="/users/sign-out">Sign Out</a>
            </div> -->
            <div class="nav-links">
                <a href="/"><i class="fa-solid fa-house"></i> Home</a>
                <p class="message-toggle-button" onclick="toggleChatWindow()"><i  class="fa-solid fa-paper-plane"></i> Message</p>
                <a href="/users/sign-out"> <i class="fa-solid fa-right-from-bracket"></i> Log out</a>
            </div>
            
            <div class="sm-nav-links">
                <i onclick="toggleChatWindow()" class=" message-icon fa-solid fa-paper-plane"></i>
                <a href="/users/sign-out"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
        </div>

        <div onclick="expandFooter()" class="footer">
            <div class="expanded hide">
                <a href="/users/profile/edit/<%= locals.user.id%>">Edit profile</a>
                <a href="/users/profile/<%= locals.user.id%>">Go to Profile</a>
            </div>
    
            <div class="user-container">
                <% if(user.avatar != undefined) { %> 
                    <img src="<%= user.avatar %>" alt="">
                <% } else { %> 
                    <img id="logo-placeholder" src="<%= assetPath('img/dummy-profile.jpeg') %>">
                <% } %> 
                <p class="user-name"> <%= user.name.substring(0, 14) %></p>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
    
    
            
        </div>
        

    <%  } else { %>
        
        

    <% } %>

    
    
</div>

<script>
    function expandFooter() {
        let footer = document.querySelector('.footer');
        let expanded = document.querySelector('.expanded');
        let userContainer = document.querySelector('.user-container');
        let chevron = document.querySelector('.fa-chevron-up');

        if (expanded.classList.contains('hide')) {
            // TODO: animate expanded using jquery from bottom to top




            expanded.classList.remove('hide');
            userContainer.style.borderRadius = '50%';
            chevron.style.transform = 'rotate(0deg)';
        } else {
            expanded.classList.add('hide');
            userContainer.style.borderRadius = '0';
            chevron.style.transform = 'rotate(180deg)';
        }
    }

    if (window.location.href.includes('home') ||  window.location.href.includes('users/profile') || window.location.href.includes('search')) {
        // remove background image from left navigation
        let leftNav = document.querySelector('.left-navigation-container');

        if (window.innerWidth < 480) {
                leftNav.setAttribute('style', 'background-image: none !important; height: auto !important;')
                if (window.location.href.includes('users/profile')) {
                    let messageIcon = document.querySelector('.message-icon');
                    messageIcon.style.visibility = 'collapse';
                    
                } 
        } else {
            if (window.location.href.includes('users/profile')) {
                let messageIcon = document.querySelector('.message-toggle-button');
                messageIcon.style.display = 'none';
                
            }
            leftNav.setAttribute('style', 'background-image: none !important; height: 100vh !important;')
        }

        

        // listen for resize event
        window.addEventListener('resize', () => {
            if (window.innerWidth < 480) {
                leftNav.setAttribute('style', 'background-image: none !important; height: auto !important;')
                if (window.location.href.includes('users/profile')) {
                    let messageIcon = document.querySelector('.message-toggle-button-sm');
                    messageIcon.style.display = 'none';
                    
                }
            } else {
                if (window.location.href.includes('users/profile')) {
                    let messageIcon = document.querySelector('.class="message-toggle-button"');
                    messageIcon.style.display = 'none';
                    
                }
                leftNav.setAttribute('style', 'background-image: none !important; height: 100vh !important;')
            }

            
        })
    } else if (window.location.href.includes('users/sign-in-up')) {
        let leftNav = document.querySelector('.left-navigation-container');

        if (window.innerWidth < 480) {
                leftNav.setAttribute('style', "background-image: linear-gradient(rgba(0, 0, 0, 0.5), #000000), url('<%= assetPath('img/161.jpg') %>');background-size: cover;")

        } else {
            leftNav.setAttribute('style', "background-image: linear-gradient(#000000, rgba(0, 0, 0, 0.5)), url('<%= assetPath('img/161.jpg') %>');background-size: cover;")
        }
        // listen for resize event
        window.addEventListener('resize', () => {
            if (window.innerWidth < 480) {
                leftNav.setAttribute('style', "background-image: linear-gradient(rgba(0, 0, 0, 0.5), #000000), url('<%= assetPath('img/161.jpg') %>');background-size: cover;")

            } else {
                leftNav.setAttribute('style', "background-image: linear-gradient(#000000, rgba(0, 0, 0, 0.5)), url('<%= assetPath('img/161.jpg') %>');background-size: cover;")
            }
        })
    }

</script>


