<div id="post-<%= post._id %>" class="display-posts">
    <hr>
    <% if(locals.user && locals.user.id == post.user.id) { %> 
    <small>
        <a class="delete-post-button" href="/posts/destroy/<%= post._id %>">X</a>
    </small>
    <% } %>
    <p><%= post.content %></p>
    <p><%= post.user.name %></p>
    <div id="comments-list-container" class="post-comments-list">
        <ul id="post-comments-<%= post._id %>">
            <% for (let comment of post.comments) { %>
                <%- include('_comment', {comment: comment}) %>
            <% } %>
        </ul>
    </div>
   
    <div class="post-comments">
        <% if(locals.user) { %>
        <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Type Here to add comment..." required>
                <input type="hidden" name="postId" value="<%= post._id %>" >
                <input type="submit" value="Add Comment">
            </form>
        <% } %>
    </div>
    
</div>

