<div class="right-section-container animate__animated animate__faster">
  <section id="user-friends">
    <h4>
      <i class="fa-solid fa-user-group"></i> Friends
      <span><%= followingCount %></span>
    </h4>
    <% if (locals.user != undefined && friends != undefined) {%>

    <div class="list">
      <% for(friend of friends) { %> <% if (friend.status !== 'accepted') {
      continue; } %>
      <div class="user">
        <% if(friend.avatar != undefined) { %>
        <img src="<%= friend.avatar %>" alt="" />
        <% } else { %>
        <img
          id="logo-placeholder"
          src="<%= assetPath('img/dummy-profile.jpeg') %>"
        />
        <% } %>
        <p>
          <a href="/users/profile/<%= friend._id%>"><%= friend.name %></a>
        </p>
      </div>
      <% } %> <% if (friends.length == 0) { %>
      <p class="no-friends">You have no friends yet</p>
      <% } %>
    </div>

    <% } %>
  </section>

  <section id="other-users">
    <h4>
      <i class="fa-solid fa-earth-americas"></i> Explore
      <span><%= all_users.length - 1 %></span>
    </h4>

    <div class="list">
      <% for(u of all_users) {%> <% if (u.id == locals.user.id) { continue; } %>
      <div class="user">
        <% if(u.avatar != undefined) { %>
        <img src="<%= u.avatar %>" alt="" />
        <% } else { %>
        <img
          id="logo-placeholder"
          src="<%= assetPath('img/dummy-profile.jpeg') %>"
        />
        <% } %>
        <p>
          <a href="/users/profile/<%= u.id%>"><%= u.name %></a>
        </p>
      </div>

      <% } %>
    </div>
  </section>
</div>

<script>
  // add resize event listener
  window.addEventListener("resize", function () {
    if (window.innerWidth > 1400) {
      $(".right-section-container").removeClass("animate__slideInRight animate__slideOutRight");
    }
  });
</script>
