<div class="right-section-container animate__animated animate__faster">
  <section id="user-friends">
    <h4>
      <i class="fa-solid fa-user-group"></i> Friends
      <span><%= followingCount %></span>
    </h4>
    <% if (locals.user != undefined && friends != undefined) { %>

    <div class="list">
      <% let noFriends = true; %> <% for(friend of friends) { %> <% if
      (friend.status !== 'accepted') {continue; } %> <% noFriends = false; %>
      <div class="user">
        <% if(friend.avatar != undefined) { %>
        <img src="<%= friend.avatar %>" alt="" />
        <% } else { %>
        <img
          id="logo-placeholder"
          src="<%= assetPath('img/dummy-profile.jpeg') %>"
        />
        <% } %>
        <p>
          <a href="/users/profile/<%= friend._id%>"><%= friend.name %></a>
        </p>
      </div>
      <% } %> <% if (noFriends) { %>
      <p class="no-friends">You don't have any friends!</p>
      <% } %>
    </div>

    <% } %>
  </section>
</div>

<script>
  // add resize event listener
  window.addEventListener("resize", function () {
    if (window.innerWidth > 1400) {
      $(".right-section-container").removeClass(
        "animate__slideInRight animate__slideOutRight"
      );
    }
  });
</script>
