<h1>Codegram / <%= title %></h1>



<section id="feed-posts">
    <h3>Posts</h3>
    <% if(locals.user) { %>
    <form action="/posts/create" id="new-post-form" method="post">
        <textarea name="content" id="" cols="30" rows="3" placeholder="Type here..."></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>

</section>

<% for (let i of posts) { %> 
    <div id="display-posts">
        <p><%= i.content %></p>
        <p><%= i.user.name %></p>
        <% for (let comment of i.comments) { %>
        <p><%= comment.content %></p>
        <% } %>
        <div class="post-comments">
            <% if(locals.user) { %>
            <form action="/comments/create" method="post">
                <input type="hidden" name="postId" value="<%= i._id %>">
                <input type="text" name="content" id=""  placeholder="type here...">
                <input type="submit" value="Comment">
            </form>
            <% } %>
        </div>
        
    </div>
<% } %>
