<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/post_card_design.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/bottom_nav_bar_sm.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/bottom_nav_bar_sm.css') %>">

<div class="home-container">
    <div class="post-div">
        <%- include('_top_header'); %>
        <% if(locals.user) { %>

            <div class="post-new-card">
                <img src="<%= locals.user.avatar %>" id="user-profile-img">
                <p>Hey, <%= locals.user.name %> post something new!</p>
                <button onclick="upload()"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
            
            <form action="/posts/create/<%= locals.user._id %>" enctype="multipart/form-data" id="new-post-form"  method="post">
                <div class="header">
                    <img src="<%= locals.user.avatar %>" id="user-profile-img">
                    <p>Hey, <%= locals.user.name %> post something new!</p>
                </div>
                <input type="hidden" name="name" placeholder="Your name" value="<%= locals.user.name %>">
                <input type="hidden" name="email" placeholder="Your email" value="<%= locals.user.email %>">
                <input type="file" name="filepond" id="myfile">
                <textarea type="text" name="content" id="text-area" cols="30" rows="3" placeholder="Type here..."></textarea>
                <input id="submit" type="submit" value="Post">
            </form>

            <section id="feed-posts">

                <div id="posts-list-container">
                    <% for (let i of posts) { %> 
                        <%- include('_post.ejs', {post: i}) -%>
                    <% } %>
                </div>
                
            </section>
        <% } else { %>
            
            <%- include('user_sign_in'); %>

            <%- include('user_sign_up'); %>
            

        <% } %>
        
    </div>
    <% if(locals.user) { %>
        <div class="right-section-div">
            <% if (friends != undefined) {%> 

                <%- include('_right_section', {all_users: all_users, friends: friends}); %>
            <% } else { %>
                <%- include('_right_section', {all_users: all_users}); %>
            <% } %>

        </div>
    <% } %>
    <%- include('_chat_box') -%>

    <% if (locals.user){ %>
        <%- include('_bottom_nav_bar_sm') -%>
    <% } %>
    
</div>

<% if (locals.user){ %>
    <%- include('_sm_post_upload') -%>
    <%- include('_sm_search_page') -%>
    
<% } %>

<script src="<%= assetPath('js/add_emoji.js') %>"></script>
<script src="<%= assetPath('js/home_post_comments.js') %>"></script>
<script src="<%= assetPath('js/home_posts.js') %>"></script>
<script src="<%= assetPath('js/toggle_likes.js') %>"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js" ></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>
<script>
    $('.toggle-like-button').each(function() {
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>

<script src="<%= assetPath('js/home.js') %>"></script>
<% if (locals.user){ %>
    <script>
        
        new ChatEngine('user-chat-box', '<%= locals.user.email %>', '<%= locals.user.name %>', '<%= locals.user.avatar %>');
    </script>
<% } %>

