<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/post_card_design.css') %>">

<div id="home-container">
    <div class="post-div">
        <%- include('_top_header'); %>
        <% if(locals.user) { %>
            <form action="/posts/create" id="new-post-form" method="post" enctype="multipart/form-data">
                <div class="header">
                    <img src="<%= locals.user.avatar %>" id="user-profile-img">
                    <p>Hey, <%= locals.user.name %> post something new!</p>
                </div>
                <input type="file" name="myfile" id="my-file">
                <textarea name="content" id="text-area" cols="30" rows="3" placeholder="Type here..."></textarea>
                <input id="submit" type="submit" value="Post">
            </form>
        <% } %>

        <section id="feed-posts">

            <div id="posts-list-container">
                <% for (let i of posts) { %> 
                    <%- include('_post.ejs', {post: i}) -%>
                <% } %>
            </div>
            
        </section>
        
    </div>
    
    <div class="right-section-div">
        <% if (friends != undefined) {%> 

            <%- include('_right_section', {all_users: all_users, friends: friends}); %>
        <% } else { %>
            <%- include('_right_section', {all_users: all_users}); %>
        <% } %>

    </div>
    <%- include('_chat_box') -%>
</div>

<script src="<%= assetPath('js/add_emoji.js') %>"></script>
<script src="<%= assetPath('js/home_post_comments.js') %>"></script>
<script src="<%= assetPath('js/home_posts.js') %>"></script>

<script src="<%= assetPath('js/toggle_likes.js') %>"></script>

<script>
    $('.toggle-like-button').each(function() {
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js" ></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>

<% if (locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>')
    </script>
<% } %>

