<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title><%= title %></title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>
    <!-- File Pond -->
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

    <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="<%= assetPath('css/layout.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/header.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/footer.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/left_navigation.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/right_section.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/user_sign_in.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/user_sign_up.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/_sm_post_upload.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/_sm_search_page.css') %>">
    <!-- <link rel="stylesheet" href="<%= assetPath('css/_sm_profile_page.css') %>"> -->
    <link rel="stylesheet" href="<%= assetPath('css/bottom_nav_bar_sm.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/_sm_bottom_menu_options.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/user_edit_profile.css') %>">
    <%- style %>
</head>
<body>
    <%- include('_left_navigation'); %>

    <div id="main-body">
        <%- body %>
    </div>
    

    


    <%- script %>
    <script src="<%= assetPath('js/background_color_animation.js') %>"></script>

    <script>
        
        <% if (flash.success && flash.success.length > 0) { %> 
            new Noty({
                theme: 'relax',
                text: '<%= flash.success %>',
                type: 'success',
                layout: 'topRight',
                timeout: 2000
            }).show();
        <% } %>

        <% if (flash.error && flash.error.length > 0) { %> 
            new Noty({
                theme: 'relax',
                text: '<%= flash.error %>',
                type: 'error',
                layout: 'topRight',
                timeout: 2000
            }).show();
        <% } %>

        
    </script>
<script src="<%= assetPath('js/home.js') %>"></script>

  

</body>
</html>