<link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>">


<div id="profile-container">
    <div class="profile-design">

        <div class="header">
            <p><i class="fa-solid fa-arrow-left-long"></i> Profile</p>
        </div>

        <div class="content">
            <div class="user-info">
                <% if(profile_user.avatar != undefined) { %> 
                    <img src="<%= profile_user.avatar %>" alt="">
                <% } else { %> 
                    <img id="logo-placeholder" src="<%= assetPath('img/dummy-profile.jpeg') %>">
                <% } %> 

                <p id="user-name"><%= profile_user.name %></p>
                <p class="user-email"> <%= profile_user.email %></p>

            </div>

            <p id="about-user">
                Hi, this is sample about 😃
            </p>

            
            <div class="profile-actions">
                <% if (locals.user.id == profile_user.id) { %>
                    <a class="edit-profile" href="/users/profile/edit/<%= locals.user.id%>">Edit profile</a>
                <% } else { %>
                    
                    <% if (friends != undefined) { %>
                        <% let flag = false; %>
                            <% for (friend of friends) { %>
                                <% if (user.id == friend.to_user || user.id == friend.from_user) {  flag = true;%>
                                    <a class="follow-button" href="/users/friends/remove/?from=<%= user.id %>">Unfollow</a>
                                <% } if (flag) break; %>
                            <% } %>
                            <% if (!flag) { %>
                                <a class="follow-button" href="/users/friends/add/?from=<%= user.id %>&to=<%= profile_user.id %>">Follow</a>
                            <% } %>
                    <% } else { %>
                        <a class="follow-button" href="/users/friends/add/?from=<%= user.id %>&to=<%= profile_user.id %>">Follow</a>
                    <% } %>

                    <a class="message-button" href="#">Message</a>

                    
                <% } %>
            </div>

            <div class="stats">
                <div class="posts">
                    <p class="count"><%= user_posts.length %></p>
                    <p>Posts</p>
                </div>

                <div class="followers">
                    <p class="count"><%= followers.length %></p>
                    <p>Followers</p>
                </div>

                <div class="following">
                    <p class="count"><%= following.length %></p>
                    <p>Following</p>
                </div>
            </div>
        </div>

        <div class="profile-posts">
            <div class="posts-saved-header">
                <p class="active"><i class="fa-solid fa-border-all"></i> Posts </p>
                <div class="vertical-border"></div>
                <p><i class="fa-solid fa-bookmark"></i> Saved </p>
            </div>

            <div class="post-list">
                <% for (let post of user_posts) { %> 
                    <div class="post-img">
                        <% if(post.myfile != undefined) { %> 
                            <img src="<%= post.myfile %>">
                        <% } else { %>
                            <img src="<%= assetPath('img/1782188.jpeg') %>">
                        <% } %>
                    </div>
                <% } %>

                
            </div>

            <!-- If post length is 0 -->
            <% if (user_posts.length == 0 && locals.user.id == profile_user.id) { %>
                <div class="no-posts">
                    <p>You have no posts yet</p>
                    <a href="/home">Add post</a>
                </div>
            <% } else if (user_posts.length == 0) { %>
                <div class="no-posts">
                    <p><%= profile_user.name %> has no posts yet</p>
                </div>
            <% } %>
        </div>
    </div>

    <% if (user.id == profile_user.id) { %>
    <!-- If user matches then show the form -->
   
    <% } else { %>
        <!-- else show only the profile info -->
        
    <% } %>

    <% if (locals.user){ %>
        <%- include('_bottom_nav_bar_sm') -%>
    <% } %>

    
</div>


<script src="<%= assetPath('js/home_posts.js') %>"></script>

