<link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>">


<div id="profile-container">
    <div class="profile-design">

        <div class="header">
            <a href="/"><i class="fa-solid fa-arrow-left-long"></i> Home</a>
        </div>

        <div class="content">
            <div class="user-info">
                <% if(profile_user.avatar != undefined) { %> 
                    <img src="<%= profile_user.avatar %>" alt="">
                <% } else { %> 
                    <img id="logo-placeholder" src="<%= assetPath('img/dummy-profile.jpeg') %>">
                <% } %> 

                <p id="user-name"><%= profile_user.name %></p>
                <p class="user-email"> <%= profile_user.email %></p>

            </div>

            <p id="about-user">
                Hi, this is sample about 😃
            </p>

            
            <div class="profile-actions">
                <% let followers = 0; let following = 0; %>
                <% if (locals.user.id == profile_user.id) { %>
                    <a class="edit-profile" href="/users/profile/edit/<%= locals.user.id%>">Edit profile</a>
                <% } else { %>
                    
                    <% if (friends != undefined) { %>
                        <% let flag = false; %>
                            <% for (friend of friends) { %>
                                <% if (user.id == friend.to_user || user.id == friend.from_user && friend.status === 'accepted') {  flag = true;%>
                                    <p class="follow-button" data-from="<%= user.id %>" data-to="<%= profile_user.id %>" onclick="toggleFollow(event)">Unfollow</p>
                                <% } if (flag) break; %>
                            <% } %>
                            <% if (!flag) { %>
                                <p onclick="toggleFollow(event)" data-from="<%= user.id %>" data-to="<%= profile_user.id %>" class="follow-button">Follow</p>
                            <% } %>
                    <% } else { %>
                        <p class="follow-button" data-from="<%= user.id %>" data-to="<%= profile_user.id %>" onclick="toggleFollow(event)">Follow</p>
                    <% } %>

                    <a class="message-button" href="#">Message</a>

                    
                <% } %>
            </div>

            <div class="stats">
                <div class="posts">
                    <p class="count"><%= user_posts.length %></p>
                    <p>Posts</p>
                </div>

                <div class="followers">
                    <p id="followers-count" class="count"><%= followersCount %></p>
                    <p>Followers</p>
                </div>

                <div class="following">
                    <p id="following-count" class="count"><%= followingCount %></p>
                    <p>Following</p>
                </div>
            </div>
        </div>

        <div class="profile-posts">
            <div class="posts-and-saved-header">
                <p id="user-posts-header" class="active"><i class="fa-solid fa-border-all"></i> Posts </p>
                <% if (locals.user.id == profile_user.id) { %>
                    <div class="vertical-border"></div>
                    <p id="posts-saved-header" class=""><i class="fa-solid fa-bookmark"></i> Saved <%= savedPosts.length %> </p>
                <% } %>
                
            </div>

            <div id="user-posts-list" class="post-list">
                <% for (let post of user_posts) { %> 
                    <div onclick="showNotification()" class="post-img">
                        <% if(post.myfile != undefined) { %> 
                            <img src="<%= post.myfile %>">
                        <% } else { %>
                            <img src="<%= assetPath('img/1782188.jpeg') %>">
                        <% } %>
                    </div>
                <% } %>

                
            </div>

            <div id="saved-posts-list" class="post-list remove">
                <% for (let post of savedPosts) { %> 
                    <div onclick="showNotification()" class="post-img">
                        <% if(post.myfile != undefined) { %> 
                            <img src="<%= post.myfile %>">
                        <% } else { %>
                            <img src="<%= assetPath('img/1782188.jpeg') %>">
                        <% } %>
                    </div>
                <% } %>

                
            </div>

            <!-- If post length is 0 -->
            <% if (user_posts.length == 0 && locals.user.id == profile_user.id) { %>
                <div class="no-posts">
                    <p>You have no posts yet</p>
                    <a href="/home">Add post</a>
                </div>
            <% } else if (user_posts.length == 0) { %>
                <div class="no-posts">
                    <p><%= profile_user.name %> has no posts yet</p>
                </div>
            <% } %>

            <!-- If saved post length is 0 -->
            <% if (savedPosts.length == 0 && locals.user.id == profile_user.id) { %>
                <div class="no-posts remove">
                    <p>You have no saved posts yet</p>
                </div>
            <% } %>
        </div>
    </div>

    <% if (user.id == profile_user.id) { %>
    <!-- If user matches then show the form -->
   
    <% } else { %>
        <!-- else show only the profile info -->
        
    <% } %>

    <% if (locals.user){ %>
        <%- include('_bottom_nav_bar_sm') -%>
    <% } %>

    
</div>

<script>
    // handle the active class on posts saved header and show the respective posts
    const postsSavedHeader = document.querySelector('.posts-and-saved-header');
    const userPostsList = document.querySelector('#user-posts-list');
    const savedPostsList = document.querySelector('#saved-posts-list');

    const userPostsHeader = postsSavedHeader.children[0];
    const savedPostsHeader = postsSavedHeader.children[2];

    if (savedPostsHeader) {
        userPostsHeader.addEventListener('click', (e) => {
            userPostsHeader.classList.add('active');
            postsSavedHeader.children[2].classList.remove('active');
            userPostsList.classList.remove('remove');
            savedPostsList.classList.add('remove');
            userPostsList.classList.add('animate__animated', 'animate__fadeIn')
            $('.no-posts').addClass('remove');
        })

        savedPostsHeader.addEventListener('click', (e) => {
            savedPostsHeader.classList.add('active');
            postsSavedHeader.children[0].classList.remove('active');
            savedPostsList.classList.remove('remove');
            userPostsList.classList.add('remove');
            savedPostsList.classList.add('animate__animated', 'animate__fadeIn')
            $('.no-posts').removeClass('remove');
        })
    }

    function showNotification() {
        // show work in progress notification
        Toastify({
          text: 'Update coming soon!',
          duration: 2000,
          destination: "",
          newWindow: true,
          close: true,
          avatar:
            "https://cdn-icons-png.flaticon.com/512/845/845646.png?w=1480&t=st=1680445326~exp=1680445926~hmac=0cb88a0841456c7c4b22ff6c8b911a3acb1e1278095990a5368ab134203fb03d",

          gravity: "top", // `top` or `bottom`
          position: "center", // `left`, `center` or `right`
          stopOnFocus: true, // Prevents dismissing of toast on hover
          style: {
            background: "#0057D2",
            borderRadius: "10px",
          },
          onClick: function () {}, // Callback after click
        }).showToast();
    }
</script>

<script src="<%= assetPath('js/home_posts.js') %>"></script>
<script src="<%= assetPath('js/user_profile.js') %>"></script>

